<p id="notice"><%= notice %></p>

<h1>Listing Tourist Site External Resources</h1>

<table>
  <thead>
    <tr>
      <th>Tourist site</th>
      <th>External resource</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tourist_site_external_resources.each do |tourist_site_external_resource| %>
      <tr>
        <td><%= tourist_site_external_resource.tourist_site %></td>
        <td><%= tourist_site_external_resource.external_resource %></td>
        <td><%= link_to 'Show', tourist_site_external_resource %></td>
        <td><%= link_to 'Edit', edit_tourist_site_external_resource_path(tourist_site_external_resource) %></td>
        <td><%= link_to 'Destroy', tourist_site_external_resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tourist site external resource', new_tourist_site_external_resource_path %>
