<%= form_for(@external_resource) do |f| %>
  <% if @external_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@external_resource.errors.count, "error") %> prohibited this external_resource from being saved:</h2>

      <ul>
      <% @external_resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.text_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
