<p id="notice"><%= notice %></p>

<h1>Listing External Resources</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @external_resources.each do |external_resource| %>
      <tr>
        <td><%= external_resource.name %></td>
        <td><%= external_resource.description %></td>
        <td><%= external_resource.photo %></td>
        <td><%= link_to 'Show', external_resource %></td>
        <td><%= link_to 'Edit', edit_external_resource_path(external_resource) %></td>
        <td><%= link_to 'Destroy', external_resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New External resource', new_external_resource_path %>
