<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specific_location.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @specific_location.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @specific_location.location %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @specific_location.photo %>
</p>

<p>
  <strong>City:</strong>
  <%= @specific_location.city %>
</p>

<p>
  <strong>Area type:</strong>
  <%= @specific_location.area_type %>
</p>

<%= link_to 'Edit', edit_specific_location_path(@specific_location) %> |
<%= link_to 'Back', specific_locations_path %>
